1、工程主要包括如下内容
1）拆除水厂13台原6KV电机更换安装为10KV电机（包括：一级泵房1#至7#机组共7台水泵电机和二级泵房1#至4#、6#和7#机组共6台水泵电机），要求更换电机与原有水泵配套，同时项目内容包括产品运输、产品装卸、旧设备拆除、现场机座土建（改造）、联轴器更换、设备安装和调试等。
2）更换二级泵站5#整套水泵电机，5#机组原水泵为卧式中开离心泵，设计扬程32m，额定流量3240m3 /h，转速960r/min，配套电机功率380kW。计划更换水泵为卧式单级双吸中开离心泵，设计扬程32m，设计流量4300m3 /h，设计点效率89.9%，转速740r/min或980r/min，配套10KV电机功率450kW。 
3）更换二级泵站8#水泵，8#机原水泵为卧式中开离心泵，设计扬程29m，额定流量5400m3 /h，转速 730r/min，配套电机功率 570kW。计划更换水泵为 卧式中开离心泵，设计扬程 29m，设计流量 5400m3 /h，设计点效率89.6%，转速740 r/min或980r/min， 配套10KV电机功率570kW。二级泵房8#水泵电机配套电机要求为10KV变频电机，该电机预留变频控制功能，8#机组电机安装完成后控制接入要满足当前10KV工频控制需求。
4）本期改造项目清单  
序号
设备
需求参数
单位
数量
备注

1
10KV水泵三相异步电动机
电压10kV，额定功率220kW，频率50HZ  ,6极电机，防护等级IP23，F级绝缘，接法Y，配套水泵转速
台
2


2
10KV水泵三相异步电动机
电压10kV，额定功率310kW，频率50HZ  ,6极电机，防护等级IP23，F级绝缘，接法Y 
台
4


3
10KV水泵三相异步电动机
电压10kV，额定功率380kW，频率50HZ  ,6极电机），防护等级IP23，F级绝缘，接法Y 
台
2


4
10KV水泵三相异步电动机
电压10kV，额定功率450kW，频率50HZ  ,8极电机，防护等级IP23，F级绝缘，接法Y 
台
3


5
10KV水泵三相异步电动机
电压10kV，额定功率570kW，频率50HZ  ,8极电机，防护等级IP23，F级绝缘，接法Y 
台
2


6
卧式单级双吸中开离心泵、电机
水泵扬程H范围=29m至32m，水泵流量Q=4300m³/h,电机功率N=450kW， 电机转速n=740r/min或980r/min，配套10KV高压电机
套
1


7
卧式单级双吸中开离心泵、电机
水泵扬程H=29m，水泵Q=5400m³/h, 电机功率N=570KW至630kW ， 电机转速n=740r/min或980r/min，配套10KV变频电机
套
1


8
拆除旧设备

项
1


9
机组基础改造

项
1


10
配件（联轴器、机座等）、设备的安装和调试

项
1


备注：中标人须在与招标人签订中标合同之日起10个日历日内，向招标人提供上述主要设备的品牌清单，所列的技术要求仅为本次招标的最基本要求，所列产品品牌、型号、重量、尺寸等（若有），只作为投标人报价的参考，并无指定。投标人参考项目清单参数，结合水泵电机出厂设计的实际要求用优于或等于招标人要求确定各项设备的技术参数，其中水泵扬程参数调整不超过参考值范围±0.5m、水泵流量参数调整不超过参考值±200m³/h、水泵电机功率参数调整不超过参考值范围±30KW但电机功率要求大于对应水泵轴功率和水泵电机转速参数调整不超过参考值±20r/min，并须经得招标人同意后才能进行采购。投标报价中水泵除改造工程量清单中要求参数外另需注明泵体、叶轮和轴等的材料材质，明确水泵轴承品牌和密封形式（机械密封或填料密封等），同时注明水泵额定转速、效率和允许吸上真空高度等参数；电机注明品牌，提供电机除改造项目清单中要求参数外还需注明其他主要参数如：额定电流、转速、冷却方式、测温方式和轴承品牌等，详细性能应在投标文件中对其作出详细阐述和说明。
2、技术参数和相关要求
（1）项目电机部分：
1）投标人负责根据招标要求，配套水泵电机，配套电机性能参数及转速应与水泵匹配，并负责电机的具体尺寸、规格的选择，配套电机的旋转方向和电机接线盒方向以现场原有水泵情况为准。
2）▲与水泵配套的电机必须是国内知名品牌，电机质量不低于西门子电机、上海电机、湘潭电机等国内外一线品牌质量，不接受联营厂生产或贴牌产品，所提供型号电机必须满足招标工期要求。
3）▲所选用的电机应是三相异步10KV电机，防护等级IP23以上等级（含IP23）,绝缘等级F级，接法Y，功率因素0.78以上 ，电机效率满足（GB30254-2013）《高压三相笼型异步电动机能效限定值及能效等级》中2级能效及以上。电机冷却方式采用空空冷方式，工作电压变化范围≤额定电压±5%，电动机定额为连续工作制S1。
4）▲投标人电机需符合国家标准的有关标准要求，不接受非标产品，参考标准要求如下：
电动机的功率等级和安装尺寸及公差均符合国家标准GBT755《旋转电机定额和性能》、国际电工委员会标准IEC34-1《旋转电机定额和性能》和GB/T13957及机械行业标准B/T12728、JB/T12730等。
能效等级执行标准GB30254-2013的2级能效及以上。
电动机的外壳防护等级根据GB/T4942.1和IEC34-5《旋转电机外壳防护等级》。
电动机的冷却方法根据GB/T1993和IEC34-6《旋转电机冷却方法》。
电动机的结构及安装型式为IMB3(卧式带底脚)，符合GB/T997和IEC34-7《电机结构及安装型式代号》的规定。
5）电机为安装位置水平，环境温度小于42℃。
6）电机的正常运行的噪声和振动，应符合国家标准。
7）▲电动机配备轴承采用进口滚动轴承，使用寿命不低于50000r。采用油脂润滑的，应有加油孔和流出多余润滑剂的功能。
8）电机底座需结合现场利用原有基础进行构筑，允许新电机底座利用原有的地脚螺栓开孔或采用增加钢板底座的方式接入现有的地脚螺栓等方式，确保满足新机电和旧水泵配套以适应新机组的安装要求。设备采购时进一步与厂家进行沟通，让厂家到现场复核现在基础尺寸再投产。
9）电机与水泵的联轴器应为弹性联轴器，在所有载荷工况下，泵和电机的联轴器应满足电机最大扭矩的要求，联轴器应设有保护罩。
10）二级泵房5#机组水泵和配套电机整套更换。
11）二级泵房8#机组水泵和配套电机整套更换，该电机要求为变频电机为远期实现变频控制功能进行预留。8#机组电机更换完成后，控制接入要满足当前工频控制要求。
（2）项目水泵部分：
1）水泵型式为卧式单级双吸中开式离心泵，水泵与电动机分别安装在各自基础上，水泵通过联轴器与电动机联接，配套电机的旋转方向为以现场原有水泵和实际情况为准。 
2）在泵壳顶部最高点应配有空气释放旋塞，泵应设有可更换的泵体磨损环和叶轮磨损环。泵轴应设有可更换的轴套，轴封应为机械密封。
3）泵壳采用刚性泵座支撑，泵壳和泵盖应有足够的刚度和强度，使之能承受工作温度下的工作压力而不产生变形，并能承受环境温度下的试验压力。
4）水泵效率大于等于85%（以最终测试数据为准）
5）▲泵材料：投标人可以选用比以下要求更好的材料
泵体、泵盖：HT250铸铁材质
叶轮：铸铁IT250
密封环：铸铁HT200
主轴：不锈钢2Cr13
轴套：不锈钢1Cr17Ni2
轴承：国内外一线品牌
填料压盖和压盖螺栓及螺帽，采用不锈钢304材质
3、现场注意事项
1）投标人需根据现场环境提前做好旧设备拆除和安装方案，并提交给招标人审核，待招标人审核批准后方可组织实施，施工作业期间，不能影响三榕水厂供电、供水及生产的正常运行。施工单位待设备及所需材料运抵现场，应按三榕水厂实际使用情况进行现场安装，并对单个设备完成调试后马上实施验收工作。
2）在调试期间投标人应在现场负责测试和调试，以检测其设计、制造、运行效果等。并提供所有测试和调试所需的工具、材料、仪器，一切费用由投标人负责。所用仪器、仪表应经检定合格并在有效期内。
3）投标人需根据工程实际进度，及时提交测试和调试方法及记录表格给招标人认可后方可执行，部分或全部测试可根据实际情况在安装期内或后进行。
